{% load static %}
<html>
	{% include "univheader.html" %}
	<body class="background">
		<div class="header2">
			Welcome to our contact page. We can be reached at the following:
		</div>
		<div class = "email">
			Email: TeamSFYL@gmail.com
		</div>
		<div class = "phone">
			Phone: 1(234)567-8910
		</div>
		<p>MOSTHistory galleries are open to the public every day except on Mondays and major national&nbsp;holidays. To visit or contact a staff member, you may reach them during the following hours:<br>
			<strong style="color: #997b4a;">Sunday:&nbsp;<span style="color: #853b23;">1 p.m. – 5 p.m. (Manager on Duty)</span></strong><br>
			<strong style="color: #997b4a;">Monday: <span style="color: #853b23;">8:30 a.m. – 5 p.m.</span></strong><br>
			<strong style="color: #997b4a;">Tuesday: <span style="color: #853b23;">8:30 a.m. – 5 p.m.</span></strong><br>
			<strong style="color: #997b4a;">Wednesday: <span style="color: #853b23;">8:30 a.m. – 5 p.m.</span></strong><br>
			<strong style="color: #997b4a;">Thursday: <span style="color: #853b23;">8:30 a.m. – 5 p.m.</span></strong><br>
			<strong style="color: #997b4a;">Friday: <span style="color: #853b23;">8:30 a.m. – 5 p.m.</span></strong><br>
			<strong style="color: #997b4a;">Saturday:&nbsp;<span style="color: #853b23;">10 a.m. – 5 p.m. (Admissions Desk)<br>
			</span></strong>
		</p>
	</body>
</html>